page-about {

}

.chapter-list{ img{ height: 30px; margin: 0 11px 0px 0px !important; } ion-label.label.label-md { white-space: unset; margin: 0; line-height: 25px; font-size: 1.5rem } button{ border-bottom: 1px solid #dedede; } .item-inner{ border: none !important; } }
