<ion-header>

  <ion-navbar>
    <ion-title><span style="color:white">Completed Tasks</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [style.backgroundColor]='backgroundcolor'>

  <div *ngFor='let item of finishedtaskList; let i=index'>
    <div>
      <ion-card>

        <ion-grid>
          <ion-row>
            
            <ion-col col-1 style="padding:5px; padding-top:8px; text-align:center">
              <button ion-button small style="background-color:#F5993D; color:white; height:34px" *ngIf="item.tasktype==='Shopping'"><ion-icon name="cart"></ion-icon></button>
              <button ion-button small style="background-color:#F56CB3; color:white; height:34px" *ngIf="item.tasktype==='Wishlist'"><ion-icon name="heart"></ion-icon></button>
              <button ion-button small style="background-color:#2DC0A7; color:white; height:34px" *ngIf="item.tasktype==='Personal'"><ion-icon name="person"></ion-icon></button>
              <button ion-button small style="background-color:#CF28F8; color:white; height:34px" *ngIf="item.tasktype==='Office'"><ion-icon name="briefcase"></ion-icon></button>
              <button ion-button small style="background-color:#14CFE5; color:white; height:34px" *ngIf="item.tasktype===''"><ion-icon name="clipboard"></ion-icon></button>
            </ion-col>

            <ion-col col-11>
              <ion-card-header>      
                <ion-grid>
                  <ion-row>
                    <ion-col col-9>
                      {{item.taskname}} 
                      <br> 
                      <span *ngIf="item.tasktype!=''" style="color:gray; font-size:13px">{{item.tasktype}}</span>
                      <span *ngIf="item.tasktype===''" style="color:gray; font-size:13px">Default</span>
                    </ion-col>
                    <ion-col col-2>
                      <button style="background-color:white" (click)="reAddTask(i)">
                        <ion-icon style="font-size:18px; color:gray" name="add-circle"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col col-1>
                      <button style="background-color:white" (click)="deleteTask(i)"> 
                        <ion-icon name="trash" style="font-size:18px; color:gray"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>                       
              </ion-card-header>

            </ion-col>
            
          </ion-row>
        </ion-grid>

      </ion-card>
    </div>
  </div>

  <div style="z-index:-1; width:40%; height:auto; position:absolute; bottom:15%; border:0px solid black; margin-left:30%; margin-right:30%">
    <img src="{{imageurl}}" style="width:100%; height:auto; position:absolute; bottom:0px">
  </div>
</ion-content>
