
ion-header ion-icon.back-button-icon.icon {
    color: #488aff;
}

.removeMargin {
   height: 10px !important;
}

.noBottomMargin {
    margin-bottom: 0px !important;
}

ion-label {
    font-weight: bold;
}