
ion-header ion-icon.back-button-icon.icon {
    // color: #488aff;
    color: white;
}

.removeMargin {
   height: 10px !important;
}

.noBottomMargin {
    margin-bottom: 0px !important;
}

ion-label {
    font-weight: bold;
}

.error {
    border-bottom: 1.5px solid #d9534f;
}

.errorMsg {
    color: #d9534f;
    font-weight: normal;
    font-size: 13px;
}