<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row class="headerColor">

        <ion-col col-2>
          <button ion-button menuToggle class="menubtn">
            <ion-icon name="menu"></ion-icon>
          </button>   
        </ion-col>

        <ion-col col-7>
          <ion-title *ngIf="!toggled" style="margin-top:5px;">
            <span class="listname">{{listType}}</span>
          </ion-title> 
            <ion-searchbar *ngIf="toggled" style="height:28px!important;margin-top:2px;"
              [(ngModel)]="myInput"
              [showCancelButton]="shouldShowCancel"
              (ionInput)="onInput($event)"
              (ionCancel)="onCancel($event)">
            </ion-searchbar>
          
        </ion-col>

        <ion-col col-3>
          <ion-row>
            <ion-col col-3>
              <ion-icon name="search" (click)="toggle()" *ngIf="!toggled"></ion-icon>
              <ion-icon name="close" (click)="toggle()" *ngIf="toggled"></ion-icon>
            </ion-col>
            <ion-col col-6></ion-col>
            <ion-col col-3 (click)="presentPopover($event)"><ion-icon name="more"></ion-icon></ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content #popoverContent [style.backgroundColor]="backgroundcolor">
  <ion-fab bottom right>
   <button ion-fab [navPush]="addtaskPage"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
    <ion-row>
        <ion-col><ion-badge item-end color="secondary">{{sortDateLable}}</ion-badge></ion-col>
    </ion-row>

  <div #popoverText [style.fontFamily]='fontFamily'>
  <div *ngFor='let item of todoList; let i=index' style="opacity:0.9">
    <div (click)="selectTask(i)">
      <ion-card>

        <ion-grid>
          <ion-row>
            
            <ion-col col-1 style="padding:5px; padding-top:8px; text-align:center">
              <!--<ion-radio value="i" color="secondary" [disabled]="true" [checked]="false" *ngIf="selectedTask != i"></ion-radio>-->
              <!--/<ion-radio value="i" color="secondary" [disabled]="false" [checked]="true" *ngIf="selectedTask === i"></ion-radio>-->
              <!--<ion-icon name="briefcase" style="color:#9A5AD6" *ngIf="item.tasktype==='Office'"></ion-icon>
              <ion-icon name="cart" style="color:#F5993D" *ngIf="item.tasktype==='Shopping'"></ion-icon>
              <ion-icon name="heart" style="color:#F56CB3" *ngIf="item.tasktype==='Wishlist'"></ion-icon>
              <ion-icon name="person" style="color:#4CA978" *ngIf="item.tasktype==='Personal'"></ion-icon>-->
              <button ion-button small style="background-color:#F5993D; color:white; height:34px" *ngIf="item.tasktype==='Shopping'"><ion-icon name="cart"></ion-icon></button>
              <button ion-button small style="background-color:#F56CB3; color:white; height:34px" *ngIf="item.tasktype==='Wishlist'"><ion-icon name="heart"></ion-icon></button>
              <button ion-button small style="background-color:#2DC0A7; color:white; height:34px" *ngIf="item.tasktype==='Personal'"><ion-icon name="person"></ion-icon></button>
              <button ion-button small style="background-color:#CF28F8; color:white; height:34px" *ngIf="item.tasktype==='Office'"><ion-icon name="briefcase"></ion-icon></button>
              <button ion-button small style="background-color:#14CFE5; color:white; height:34px" *ngIf="item.tasktype===''"><ion-icon name="clipboard"></ion-icon></button>
            </ion-col>
  
            <ion-col col-11>
                  
              <ion-card-header>      
                <ion-grid>
                  <ion-row>
                    <ion-col col-9>
                      {{item.taskname}} 
                      <br> 
                      <span *ngIf="item.tasktype!=''" style="color:gray; font-size:13px">{{item.tasktype}}</span>
                      <span *ngIf="item.tasktype===''" style="color:gray; font-size:13px">Default</span>
                    </ion-col>
                    <ion-col col-2>
                      <button style="background-color:white" (click)="changeShow(i)">
                        <ion-icon style="font-size:22px; color:gray" name="arrow-dropdown" *ngIf="showId != i"></ion-icon>
                        <ion-icon style="font-size:22px; color:gray" name="arrow-dropup" *ngIf="showId === i"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col col-1>
                      <button style="background-color:white" (click)="openModal(i)"> 
                        <ion-icon name="eye" style="color:gray"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>                       
              </ion-card-header>

              <ion-card-content style="color:gray">
                <div *ngIf="showId === i">

                <ion-grid *ngIf=item.startdate style="padding:0">
                  <ion-row>
                    <ion-col col-1><ion-icon name="calendar"></ion-icon></ion-col>
                    <ion-col col-11>{{item.startdate | date:'fullDate'}}</ion-col>
                  </ion-row>
                </ion-grid>

                <hr>
                <ion-grid>
                  <ion-row>
                    <ion-col class="iconpadding">
                      <button ion-button icon-only small clear color="dark" (click)="updateTask(i)"><ion-icon name="create"></ion-icon></button>
                    </ion-col>
                    <ion-col class="iconpadding">
                      <button ion-button icon-only small clear *ngIf="item.important" color="danger" (click)="changeImportant(i)"><ion-icon name="star"></ion-icon></button>
                      <button ion-button icon-only small clear *ngIf="!item.important" color="dark" (click)="changeImportant(i)"><ion-icon name="star"></ion-icon></button>
                    </ion-col>
                    <ion-col class="iconpadding">
                      <button ion-button icon-only small clear color="dark" (click)="completeTask(i)"><ion-icon name="checkbox-outline"></ion-icon></button>
                    </ion-col>
                    <ion-col class="iconpadding">
                      <button ion-button icon-only small clear color="dark" (click)="deleteTask(i)"><ion-icon name="trash"></ion-icon></button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                </div>
              </ion-card-content>
            </ion-col>
            
          </ion-row>
        </ion-grid>

      </ion-card>
    </div>
  </div>
  </div>
  <div style="z-index:-1; width:40%; height:auto; position:absolute; bottom:15%; border:0px solid black; margin-left:30%; margin-right:30%">
    <img #popoverImage src="{{imageurl}}" style="width:100%; height:auto; position:absolute; bottom:0px">
  </div>
</ion-content>


