ion-content{
    // background-image: url('..\assets\imgs\logo.png');
    // background-color: black;
}

// $font-family-base: "Times New Roman", sans-serif !default;

$background-ios-color: black;
$background-md-color: black;
$background-wp-color: black;