.popover-page {
  .text-to-change div {
    margin: 10px auto;
  }

  ion-row,
  ion-col {
    padding: 0;
  }

  .text-button {
    padding-left: 0;
    text-align: center;
    min-height: 20px;
    line-height: 18px;
  }

  .text-button .item-inner {
    padding-right: 0;
  }

  .text-smaller {
    font-size: 12px;
  }

  .text-larger {
    font-size: 16px;
  }

  .row-dots {
    text-align: center;

    .dot {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin: 10px auto;
      position: relative;
    }
  }

  .dot-white {
    background-color: rgb(255,255,255);
  }

  .dot-tan {
    background-color: rgb(249,241,228);
  }

  .dot-blue {
    background-color: rgb(214, 234, 248);
  }

  .dot-gray {
    background-color: rgb(213, 219, 219);
  }

  .dot.selected {
    border-width: 2px;
    border-color: #327eff;
  }

  .text-arial {
    font-family: "Arial";
  }

  .text-calibri {
    font-family: "Calibri";
  }

  .text-courier {
    font-family: "Courier New";
  }

  .text-century {
    font-family: "Century";
  }

  .text-san-lucida {
    font-family: "Lucida Handwriting";
  }

  .text-times-new-roman {
    font-family: "Times New Roman";
  }
}

.popover-page {
  .text-smaller,
  .row-dots,
  .dot {
    border-width: $hairlines-width;
  }
}